extends layout

block content
  h1= title
  p Welcome to #{title}
  p This app will just lets you connect to your feed reader of choice and will keep in sync with your read items, your starred items and it will ping publishers about that with just a HEAD request. It's a nice touch to tell people you read that you read them :)

  p For now, it does not support multi users... but that's fairly easy to add... So I should think about it :)




